version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: strapi-postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  strapi:
    image: node:20-alpine
    container_name: strapi-dev
    user: root
    working_dir: /app
    command: sh -c "npx strapi develop --no-build"
    env_file:
      - .env
    volumes:
      - ./:/app
    ports:
      - "80:1337"
    depends_on:
      - postgres

volumes:
  postgres_data:
  node_modules:
